{% extends 'base.html.twig' %}
{% block menu %}Lire Boutique {% endblock %}

{% block body %}

    <table class="table">
        <tbody>
        <tr>
 <th>id</th>
 <td>{{ Boutique.id }}</td> </tr><tr>
 <th>nom</th>
 <td>{{ Boutique.nom }}</td> </tr><tr>
 <th>isDefault</th>
 <td>{{ Boutique.isDefault }}</td> </tr>

        </tbody>
    </table>


    <a href="{{ makeUrl("TijaraShop/boutique") }}"><i class="fa fa-arrow-left"></i> back to list</a>

    </div>
{% endblock %}